body {
	background-color : #000;
}

h1{
	font-size:40px;
	color : #A8C7BB;

}

<<<<<<< Updated upstream
=======

>>>>>>> Stashed changes
h2{
	margin-left: 40px;
	/*font-family: "Apple Color Emoji", Times, serif;*/
	font-size:15px;
	color : #A8C7BB;
/*	border: 0.1px solid white ;*/
	display: inline-block;
	vertical-align: top;
}

h3{
	font-size:15px;
	color : #A8C7BB;
}

#map{ 
  border: 10px solid grey ;
	width : 97vw;
	height : 500px;
	display: inline-block;
	vertical-align: top; 
}

.legend {
    line-height: 20px;
    color: #555;
    background-color: White;
    margin: 20px;
    opacity: 0.9;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 10px;
    margin-left: 10px;
    opacity: 0.7;
    background-color: White;

}

P {
margin-left: 40px;
font-family: "Apple Chancery", Times, serif;
font-size: 20px;
letter-spacing: 0px;
word-spacing: 0px;
color: #7D7461;
font-weight: 400;
text-decoration: underline;
font-style: italic;
font-variant: normal;
text-transform: none;
display: inline-block;
vertical-align: top;
}


